body{
	width: 1000px;
	margin: auto;
}

#for-fullscreen {
	display: inline-block;
}

#for-fullscreen:-webkit-full-screen {
	display: block;
	width: 100%;
	background: #000;
}

video {
	width: 100%;
}

#tool-bar {
	display: inline-block;
	width: 100%;
	height: 50px;
	background: rgb(100,100,10);
	position: relative;
	bottom: 50px;
}

#play {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 4px 10px;
}

#road {
	display: inline-block;
	width: 100%;
	height: 18px;
	background: rgb(200,200,200);
}

#slider {
	width: 18px;
	height: 18px;
	position: relative;
	background: rgb(100,200,200);
}

#volume {
	display: inline-block;
	width: 100px;
	height: 10px;
	margin: 11px 8px 11px 11px;
	background: rgb(200,200,200);
}

#slider-volume {
	width: 10px;
	height: 10px;
	position: relative;
	left: 100%;
	background: rgb(100,200,200);
}

#video-rate {
	display: inline-block;
	width: 100px;
	height: 10px;
	margin: 11px 8px 11px 11px;
	background: rgb(200,200,200);
}

#slider-rate {
	width: 10px;
	height: 10px;
	position: relative;
	background: rgb(100,200,200);
}

#time, #volume-value, #rate-value {
	display: inline-block;
	position: relative;
	bottom: 10px;
}